
{% load static %}

<div class="brand-area yellow-bg pt-75 pb-75">
				<div class="container">
					<div class="row justify-content-between">
						<div class="brand-active owl-carousel">
							<div class="col-xl-12">
								<div class="brand-wrapper">
									<div class="brand-img">
										<img src="{% static 'img/brand/1.png' %}" alt="" />
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="brand-wrapper">
									<div class="brand-img">
										<img src="{% static 'img/brand/2.png' %}" alt="" />
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="brand-wrapper">
									<div class="brand-img">
										<img src="{% static 'img/brand/3.png' %}" alt="" />
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="brand-wrapper">
									<div class="brand-img">
										<img src="{% static 'img/brand/4.png' %}" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>