	{% load static %}

	<!doctype html>
	<html class="no-js" lang="zxx">
	    

	<head>
	        <meta charset="utf-8">
	        <meta http-equiv="x-ua-compatible" content="ie=edge">
	        <title>Kettle - Food & Resturant HTML5 Template</title>
	        <meta name="description" content="">
	        <meta name="viewport" content="width=device-width, initial-scale=1">

	        <link rel="manifest" href="site.html">
			<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	        <!-- Place favicon.ico in the root directory -->

			<!-- CSS here -->
	        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	        <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
			<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/slick.css' %}">
			<link rel="stylesheet" href="{% static 'css/default.css' %}">
			<link rel="stylesheet" href="{% static 'css/style.css' %}">
			<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		</head>
	    <body>
	        <!--[if lte IE 9]>
	            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	        <![endif]-->

	        <!-- header-start -->
			<header class="header-transparent">
				<!-- header2-area-start -->
				<div class="header2-area">
					<div class="container">
						<div class="header-border">
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-md-6">
									<div class="header2-wrapper">
										<div class="header-left">
											<div class="header2-icon">
											<i class="fas fa-phone"></i>
											</div>
											<div class="header2-text">
												<span>+123 456 789</span>
											</div>
										</div>
										<div class="header-left">
											<div class="header2-icon">
												<i class="fas fa-envelope"></i>
											</div>
											<div class="header2-text">
												<span>contact@kettle.com</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6">
								<div class="header-icon text-md-right">
										<a href="#"><i class="fab fa-facebook-f"></i></a>
										<a href="#"><i class="fab fa-linkedin-in"></i></a>
										<a href="#"><i class="fab fa-twitter"></i></a>
										<a href="#"><i class="fab fa-google-plus-g"></i></a>
										<a href="#"><i class="fab fa-pinterest-p"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- header2-area-end -->
				<div id="sticky-header" class="header-top-area header-2 pr-60 pl-60">
					<div class="container">
						<div class="row">
							<div class="col-xl-3 col-lg-2">
								<div class="logo">
									<a href=""><img src="{% static 'img/logo/logo.png' %}" alt="" /></a>
								</div>
							</div>
							<div class="col-xl-7 col-lg-7">
								<div class="main-menu text-right">
									<nav id="mobile-menu">
										<ul>
											<li class="active"><a href="">home </a></li>
											<li><a href="about">about</a></li>
											<li><a href="shop">shop</a></li>
											<li><a href="#">Our Staff</a></li>
											<li><a href="blog">blog</a></li>
											<li><a href="contact">contact</a></li>
										</ul>
									</nav>
								</div>
								<div class="mobile-menu"></div>
							</div>
							
						</div>
					</div>
				</div>
			</header>
			<!-- header-end -->
			<!-- slider start -->
			
			<!-- slider end -->




			<!-- home-area-start -->
				 {% block home %}
				


        		{% endblock home %}
			<!-- home-area-end -->
			
			<!-- footer-area-start -->
			<footer>
				<div class="footer-top-area footer2 black2-bg pt-100 pb-70">
					<div class="container">
						<div class="row">
							<div class="col-xl-3 col-lg-3 col-md-6">
								<div class="footer-wrapper mb-30">
									<div class="footer-logo">
										<a href="index.html"><img src="{% static 'img/logo/logo.png' %}" alt="" /></a>
									</div>
									<div class="footer-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet, enim nec venenatis </p>
									</div>
									<div class="footer-icon">
										<a href="#"><i class="fab fa-twitter"></i></a>
										<a href="#"><i class="fab fa-linkedin"></i></a>
										<a href="#"><i class="fab fa-facebook"></i></a>
										<a href="#"><i class="fab fa-skype"></i></a>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6">
								<div class="footer-wrapper mb-30">
									<h3 class="footer-title">Quick Link</h3>
									<ul class="footer-menu">
										<li><a href="#"><i class="fas fa-caret-right"></i>About Us</a></li>
										<li><a href="#"><i class="fas fa-caret-right"></i>Our Services</a></li>
										<li><a href="#"><i class="fas fa-caret-right"></i>Contact Us</a></li>
										<li><a href="#"><i class="fas fa-caret-right"></i>Recent News</a></li>
										<li><a href="#"><i class="fas fa-caret-right"></i>Events</a></li>
										<li><a href="#"><i class="fas fa-caret-right"></i>Shop</a></li>
									</ul>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6">
								<div class="footer-wrapper mb-30">
									<h3 class="footer-title">Photostream</h3>
									<ul class="footer-img">
										<li><a href="#"><img alt="" src="{% static 'img/instagram/1.jpg' %}"></a></li>
										<li><a href="#"><img alt="" src="{% static 'img/instagram/2.jpg' %}"></a></li>
										<li><a href="#"><img alt="" src="{% static 'img/instagram/3.jpg' %}"></a></li>
										<li><a href="#"><img alt="" src="{% static 'img/instagram/4.jpg' %}"></a></li>
										<li><a href="#"><img alt="" src="{% static 'img/img/instagram/5.jpg' %}"></a></li>
										<li><a href="#"><img alt="" src="{% static 'img/instagram/6.jpg' %}"></a></li>
									</ul>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6">
								<div class="footer-wrapper mb-30">
									<h3 class="footer-title">Our Editorial</h3>
									<div class="footer-info">
										<p>In laoreet, enima nec venenatis luctus, lectus dolor accumsan magna.</p>
									</div>
									<ul class="footer-link">
										<li><i class="fas fa-home"></i>Bramley Rd, London W10 6SZ</li>
										<li><i class="fas fa-phone"></i>+44 1234 358 759</li>
										<li><i class="far fa-envelope"></i>contact@kettle.com</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom-area black-bg pt-25 pb-25">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="copyright text-center">
								<p><a target="_blank" href="">Kettle-Restaurant</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			</footer>
			<!-- footer-area-end -->
			<!-- Modal Search -->
	        <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
	            <div class="modal-dialog" role="document">
	                <div class="modal-content">
	                    <form>
	                        <input type="text" placeholder="Search here...">
	                        <button>
	                            <i class="fa fa-search"></i>
	                        </button>
	                    </form>
	                </div>
	            </div>
	        </div>





			<!-- JS here -->
	        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
	        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
	        <script src="{% static 'js/waypoints.min.js' %}"></script>
	        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
	        <script src="{% static 'js/bootstrap.min.js' %}"></script>
	        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
	        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	        <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
	        <script src="{% static 'js/slick.min.js' %}"></script>
	        <script src="{% static 'js/ajax-form.js' %}"></script>
	        <script src="{% static 'js/wow.min.js' %}"></script>
	        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
	        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
	        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	        <script src="{% static 'js/plugins.js' %}"></script>
	        <script src="{% static 'js/main.js' %}"></script>
	    </body>

	</html>
