{% load static %}




<div class="news-area pt-90 pb-70">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="section-title text-center mb-40">
								<h1>Latest news</h1>
								<span>Kettle BLOG</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-12 mb-30">
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-md-6">
									<div class="news-img">
										<a href="blog-details.html"><img src="{% static 'img/news/news1.jpg' %}" alt="" /></a>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6">
									<div class="news-wrapper">
										<div class="news-text">
											<span>20 JUNE 2019</span>
											<h3><a href="blog-details.html">5 best foods to make you fresh & healthy</a></h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
											<a href="blog-details.html">READ ARTICLE  <i class="fas fa-long-arrow-alt-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 mb-30">
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-md-6">
									<div class="news-img">
										<a href="blog-details.html"><img src="{% static 'img/news/news2.jpg' %}" alt="" /></a>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6">
									<div class="news-wrapper">
										<div class="news-text">
											<span>20 JUNE 2019</span>
											<h3><a href="blog-details.html">24 Reasons To Seek Out Fresh Figs</a></h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
											<a href="blog-details.html">READ ARTICLE  <i class="fas fa-long-arrow-alt-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>