
{% load static %}
<div class="slider-area slider2">
				<div class="slider-active">
					<div class="single-slider pt-260 pb-360 d-flex align-items-center" style="background-image:url({% static 'img/slider/slider2.jpg' %})">
					   <div class="container">
						   <div class="row ">
							   <div class="col-xl-12">
									<div class="slider-info text-center">
										<span data-animation="fadeInUp" data-delay=".3s">Nature alone is antique </span>
										<h1 data-animation="fadeInUp" data-delay=".5s"> oldest art a mushroom.</h1>
										<div class="slider-info-button">
											<a class="active" data-animation="fadeInLeft" data-delay=".8s" href="#">Our project</a>
											<a data-animation="fadeInRight" data-delay="1s" href="#">Get a quote</a>
										</div>
									</div>
							   </div>
						   </div>
					   </div>
					</div>
					<div class="single-slider pt-260 pb-360 d-flex align-items-center" style="background-image:url({% static 'img/slider/slider2.jpg' %})">
					   <div class="container">
						   <div class="row ">
							   <div class="col-xl-12">
									<div class="slider-info text-center">
										<span data-animation="fadeInUp" data-delay=".3s">Nature alone is antique </span>
										<h1 data-animation="fadeInUp" data-delay=".5s"> oldest art a mushroom.</h1>
										<div class="slider-info-button">
											<a class="active" data-animation="fadeInLeft" data-delay=".8s" href="#">Our project</a>
											<a data-animation="fadeInRight" data-delay="1s" href="#">Get a quote</a>
										</div>
									</div>
							   </div>
						   </div>
					   </div>
					</div>
					<div class="single-slider pt-260 pb-360 d-flex align-items-center" style="background-image:url({% static 'img/slider/slider2.jpg' %})">
					   <div class="container">
						   <div class="row ">
							   <div class="col-xl-12">
									<div class="slider-info text-center">
										<span data-animation="fadeInUp" data-delay=".3s">Nature alone is antique </span>
										<h1 data-animation="fadeInUp" data-delay=".5s"> oldest art a mushroom.</h1>
										<div class="slider-info-button">
											<a class="active" data-animation="fadeInLeft" data-delay=".8s" href="#">Our project</a>
											<a data-animation="fadeInRight" data-delay="1s" href="#">Get a quote</a>
										</div>
									</div>
							   </div>
						   </div>
					   </div>
					</div>
				</div>
			</div>